<div class="bg-parent">
    <div class="bg">
        <img
            src="/src/assets/banner/stars-back.webp"
            class="stars"
            alt="starry sky"
        />
        <div id="clouds"></div>
        <img
            src="/src/assets/banner/stars-front.webp"
            class="stars"
            aria-disabled
        />
    </div>
</div>
<button class="menu">
    <svg width="24" height="24"><use href="#menu-icon"></use></svg>
</button>
<nav class="nav">
    <div class="links">
        <a href="/" class="link">
            <svg style="width: 20px" viewBox="9 12 96 121">
                <path class="star" />
            </svg>
            Fagner Ferreira
        </a>
    </div>
    <div class="links">
        <a href="/about/" class="link">
            About
            <svg style="width: 15px" viewBox="9 12 96 121">
                <path class="star2" />
            </svg>
        </a>
        <a href="/contact/" class="link">
            Contact
            <svg style="width: 15px" viewBox="9 12 96 121">
                <path class="star"></path>
            </svg>
        </a>
    </div>
</nav>
