<link rel="icon" href="/src/assets/icons/favicon.svg" type="image/svg" />

<link
    rel="preload"
    crossorigin
    href="/src/assets/Roboto_Slab/RobotoSlab.woff2"
    as="font"
    fetchpriority="high"
/>

<link
    rel="preload"
    href="/src/assets/banner/stars-back.webp"
    as="image"
    fetchpriority="high"
/>
<link
    rel="preload"
    href="/src/assets/pattern.webp"
    as="image"
    fetchpriority="high"
/>
<link
    rel="preload"
    href="/src/assets/banner/stars-front.webp"
    as="image"
    fetchpriority="high"
/>

<script
    type="module"
    src="/src/scripts/header.ts"
    async
    blocking="render"
    fetchpriority="high"
></script>
<script
    type="module"
    src="/src/scripts/stars.ts"
    async
    blocking="render"
    fetchpriority="high"
></script>
<script
    type="module"
    src="/src/scripts/clouds.ts"
    async
    blocking="render"
    fetchpriority="high"
></script>

<script
    type="module"
    src="/src/scripts/loadDefs.ts"
    fetchpriority="high"
    blocking="render"
    async
></script>

<script
    type="module"
    src="/src/scripts/starsResize.ts"
    async
    fetchpriority="high"
    blocking="render"
></script>

<script
    type="module"
    src="/src/scripts/linkSvgAnimation.ts"
    fetchpriority="high"
    blocking="render"
    async
></script>

<script type="module" src="/src/scripts/animate.ts"></script>

<link rel="stylesheet" href="/src/styles/style.css" />
<link rel="stylesheet" href="/src/styles/icons.css" />
<link rel="stylesheet" href="/src/styles/clouds.css" />
