:root {
    --border-color: hsl(0, 0%, 0%, 0.2);
}

@font-face {
    font-family: Roboto Slab;
    src: url("./assets/Roboto_Slab/RobotoSlab.woff2");
}

html {
    font-family: Roboto Slab;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    background-image: url(./assets/pattern.webp);
    background-size: 900px;
}

section {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 0 30px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%, 0.5);
    box-shadow: 0 0 40px hsl(250, 50%, 50%, 0.2);
    backdrop-filter: blur(10px);
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
h2,
h3 {
    margin: 7px 0;
    font-size: inherit;
}

code {
    background: hsl(0, 0%, 85%);
    border-radius: 6px;
    padding: 3px 5px;
    font-size: 14px;
}

h2 {
    font-size: 17px;
}
h3,
p {
    font-size: 15px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: stretch;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    --pad-h: 0;
    --pad-v: 0;
    --blur: 0;
    --background: transparent;
    padding: calc(30px - calc(10px * var(--pad-v)))
        calc(50px - calc(20px * var(--pad-h)));
    z-index: 100000;
    background-color: var(--background);
    backdrop-filter: blur(var(--blur));
}
header {
    display: flex;
    flex-direction: column;
    --header-height: 250px;
    min-height: var(--header-height);
}
.menu {
    display: none;
}
.menu > img {
    width: 100%;
}
.links {
    display: flex;
    gap: 10px;
    place-items: center;
}
.star {
    width: 15px;
    height: fit-content;
}
.link {
    display: flex;
    place-items: center;
    gap: 10px;
}
.stack {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.stack > div {
    display: flex;
    align-items: center;
    gap: 3px;
    width: fit-content;
    padding: 7px;
    border: 1px solid var(--border-color);
    border-radius: 18px;
    padding-right: 10px;
}
.stack > div > img {
    height: 30px;
}
.features > div {
    min-width: 160px;
    flex: 1;
}
.features,
.models {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.models > div {
    flex: 1;
}
.models > div > p {
    text-wrap: nowrap;
}
.sec-info {
    display: grid;
    grid-template-areas:
        "title links"
        "carrousel carrousel"
        "left right";
    grid-template-columns: 1fr 1fr;

    row-gap: 10px;
}
.sec-links {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 10px;
    grid-area: links;
}
.sec-links > div {
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 20px;
    overflow-wrap: anywhere;
}
.sec-title {
    grid-area: title;
}
.sec-left {
    grid-area: left;
}
.sec-right {
    grid-area: right;
    text-align: right;
    position: relative;
}
.sec-decor > svg {
    width: 20px;
}
.sec-decor {
    position: absolute;
    width: fit-content;
    top: 0px;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    margin-right: 10px;
}
.stars {
    object-fit: contain;
    z-index: 0;
    place-self: center;
    max-height: 39dvh;
    width: 50dvw;
}
.stars:first-child {
    filter: drop-shadow(0px 40px 60px hsl(250, 50%, 50%));
}

.bg {
    display: grid;
    position: fixed;
    grid-template-areas: "unit";
    place-self: center;
}
.bg > * {
    grid-area: unit;
}
.cloud {
    position: absolute;
    animation: cloud 5s infinite linear;
}
.blink {
    grid-area: unit;
    will-change: transform;
    transform-origin: 0 0;
    position: relative;
}
.carrousel {
    display: grid;
    grid-template-areas: "unit";
    place-content: center;
    padding: 30px 0px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    grid-area: carrousel;
    --card-height: 250px;
    height: var(--card-height);
    background-color: hsl(0, 0%, 100%);
}

.blackcover {
    background-color: hsl(0, 0%, 100%, 0.2);
    backdrop-filter: blur(10px);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    z-index: 1000000;
    display: none;
}
.card {
    width: fit-content;
    height: var(--card-height);
    grid-area: unit;
    backface-visibility: hidden;
    position: absolute;
    place-self: center;
    user-select: none;
    box-shadow: 0 0 20px 0 hsl(0, 0%, 0%, 0.1);
    border-radius: 10px;
    display: flex;
    border: 1px solid hsl(0, 0%, 0%, 0.6);
}
.card > img {
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.card::before {
    content: "";
    position: absolute;
    width: 78%;
    height: 6px;
    top: 100%;
    left: 14%;
    background: black;
    border-radius: 50%;
    filter: blur(15px);
}

.words,
.letters {
    display: inline-block;
}
.letters {
    transform-origin: bottom;
}

.gear {
    animation: gear 20s infinite linear;
    transform-origin: 45px 44px;
}
.gear2 {
    animation: gear 20s infinite reverse linear;
}

.catchphrase {
    position: relative;
    border-radius: 10px;
    padding: 0px 10px;
    max-width: 300px;
    margin-top: 80px;
    margin-left: 60px;
    opacity: 0;
}

.catchphrase > h1 {
    font-weight: 300;
}

.catchphrase > svg {
    width: 65px;
    position: absolute;
    left: -33px;
    top: 32px;
}

.catchphrase-word {
    text-wrap-mode: nowrap;
}

.catchphrase-word > span {
    animation: catchphrase 1s forwards;
    opacity: 0;
    display: inline-block;
}

.gear-decor {
    width: 65px;
    position: absolute;
    right: -53px;
    top: -70px;
    scale: 1 -1;
}

@keyframes catchphrase {
    0% {
        transform: translate(0, -100%) rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0%) rotate(0deg);
        opacity: 1;
    }
}

@keyframes catchphrase-svg {
    0% {
        translate: -52px 0;
    }
    100% {
        translate: 0 0;
    }
}

@keyframes gear {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@media (max-width: 950px) {
    .sec-info {
        grid-template-areas:
            "title"
            "carrousel"
            "left"
            "right"
            "links";
        grid-template-columns: 1fr;
    }

    .sec-links {
        margin-top: 20px;
    }
}

@media (max-width: 850px) {
    nav {
        padding: calc(20px - calc(10px * var(--pad-v)))
            calc(30px - calc(20px * var(--pad-h)));
    }
}

@media (max-width: 700px) {
    .stars {
        width: 96%;
        left: 2%;
    }

    .carrousel {
        --card-height: 200px;
    }

    .catchphrase {
        margin-top: calc(var(--header-height) - 50px);
        margin-bottom: 20px;
    }

    .menu {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background: white;
        border: 1px solid var(--border-color);
        padding: 5px;
        margin: 10px;
        place-self: end;
        z-index: 1;
        position: fixed;
    }

    nav {
        place-self: end;
        right: 0;
        width: fit-content;
        height: stretch;
        height: -webkit-fill-available;
        flex-direction: column;
        justify-content: start;
        text-align: end;
        background: hsl(0, 0%, 100%, 0.5);
        backdrop-filter: blur(5px);
        border-left: 1px solid var(--border-color);
        padding: 30px;
        --nav-open: 100%;
        transform: translateX(var(--nav-open));
        transition: transform 0.3s;
    }

    nav > div {
        display: flex;
        flex-direction: column;
    }
}

@keyframes cloud {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
